node_red_stubs/.flows.json.backup
[{"type":"tab","id":"a3f2c538.5c0d38","label":"Endpoints"},{"type":"tab","id":"d5b78d81.2a487","label":"Differentiating responses"},{"type":"tab","id":"2a38c4c2.d5c73c","label":"Debug logging"},{"type":"tab","id":"95853f2a.6a7ac","label":"testing"},{"id":"c33a8bb2.3cc578","type":"http in","name":"GET /news","url":"/news","method":"get","swaggerDoc":"","x":88,"y":90,"z":"a3f2c538.5c0d38","wires":[["86e046c1.791fb8"]]},{"id":"86e046c1.791fb8","type":"file in","name":"","filename":"data/news.json","format":"utf8","x":273,"y":90,"z":"a3f2c538.5c0d38","wires":[["35a9c648.ca563a"]]},{"id":"43030503.bcfcfc","type":"http in","name":"GET /news/1","url":"/news/1","method":"get","swaggerDoc":"","x":90,"y":143,"z":"a3f2c538.5c0d38","wires":[["c265e625.3d9a18"]]},{"id":"c265e625.3d9a18","type":"file in","name":"","filename":"data/news/newsdetail.json","format":"utf8","x":306,"y":143,"z":"a3f2c538.5c0d38","wires":[["35a9c648.ca563a"]]},{"id":"f0d6cc43.0f293","type":"http response","name":"http response","x":1037,"y":334,"z":"a3f2c538.5c0d38","wires":[]},{"id":"35a9c648.ca563a","type":"json","name":"","x":677,"y":334,"z":"a3f2c538.5c0d38","wires":[["54826c2f.ab7d94"]]},{"id":"b4105a7b.4befa8","type":"inject","name":"enable debug logs","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":161,"y":225,"z":"2a38c4c2.d5c73c","wires":[["cd01be87.32fe4"]]},{"id":"f624bff5.09db4","type":"inject","name":"disable debug logs","topic":"","payload":"res","payloadType":"string","repeat":"","crontab":"","once":false,"x":162,"y":276,"z":"2a38c4c2.d5c73c","wires":[["cd01be87.32fe4"]]},{"id":"cd01be87.32fe4","type":"function","name":"set debugging state","func":"context.global.debugMode = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":255,"z":"2a38c4c2.d5c73c","wires":[[]]},{"id":"a02581a7.5fda8","type":"http in","name":"GET /news","url":"/news","method":"get","swaggerDoc":"","x":119,"y":71,"z":"2a38c4c2.d5c73c","wires":[["264c88f9.d9b378"]]},{"id":"264c88f9.d9b378","type":"file in","name":"","filename":"data/news.json","format":"utf8","x":304,"y":71,"z":"2a38c4c2.d5c73c","wires":[["b4a47340.4b5b9"]]},{"id":"68b78744.974878","type":"http in","name":"GET /news/1","url":"/news/1","method":"get","swaggerDoc":"","x":121,"y":124,"z":"2a38c4c2.d5c73c","wires":[["132b0828.ecd4f8"]]},{"id":"132b0828.ecd4f8","type":"file in","name":"","filename":"data/news/newsdetail.json","format":"utf8","x":337,"y":124,"z":"2a38c4c2.d5c73c","wires":[["b4a47340.4b5b9"]]},{"id":"1b4924b6.e4b6db","type":"http response","name":"http response","x":741,"y":99,"z":"2a38c4c2.d5c73c","wires":[]},{"id":"b4a47340.4b5b9","type":"json","name":"","x":569,"y":99,"z":"2a38c4c2.d5c73c","wires":[["1b4924b6.e4b6db"]]},{"id":"7df959f5.8206a8","type":"function","name":"log requests","func":"if(context.global.debugMode){\n    var m = msg.req.method;\n    var u = msg.req.originalUrl;\n    var debugMessage = 'DEBUG - Method: ' + m + ' URL: ' + u;\n    console.log(debugMessage);\n}\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":253,"z":"d5b78d81.2a487","wires":[["8fbd197b.7042e8"]]},{"id":"3e484d3e.c1b7b2","type":"http response","name":"http response","x":723,"y":381,"z":"d5b78d81.2a487","wires":[]},{"id":"8fbd197b.7042e8","type":"json","name":"","x":612,"y":317,"z":"d5b78d81.2a487","wires":[["3e484d3e.c1b7b2"]]},{"id":"c97bd3b9.36843","type":"inject","name":"bizz search result","topic":"","payload":"bizz","payloadType":"string","repeat":"","crontab":"","once":false,"x":136,"y":114,"z":"d5b78d81.2a487","wires":[["ffb2ddef.004d2"]]},{"id":"63e21144.9c1df","type":"inject","name":"res search result","topic":"","payload":"res","payloadType":"string","repeat":"","crontab":"","once":false,"x":133,"y":165,"z":"d5b78d81.2a487","wires":[["ffb2ddef.004d2"]]},{"id":"ee8acc53.11753","type":"switch","name":"choose search result","property":"payload.searchResultType","rules":[{"t":"eq","v":"bizz"},{"t":"eq","v":"res"}],"checkall":"false","outputs":2,"x":324,"y":382,"z":"d5b78d81.2a487","wires":[["56c687c8.a93978"],["aeb4a44a.514b58"]]},{"id":"56c687c8.a93978","type":"file in","name":"result_bizz.json","filename":"data/search/result_bizz.json","format":"utf8","x":476,"y":458,"z":"d5b78d81.2a487","wires":[["7df959f5.8206a8"]]},{"id":"aeb4a44a.514b58","type":"file in","name":"result_res.json","filename":"data/search/result_res.json","format":"utf8","x":476,"y":504,"z":"d5b78d81.2a487","wires":[["7df959f5.8206a8"]]},{"id":"61374ef2.9ec8b","type":"http in","name":"/search/result","url":"/search/result","method":"get","swaggerDoc":"","x":112,"y":254,"z":"d5b78d81.2a487","wires":[["a53aa38f.5ac56"]]},{"id":"ffb2ddef.004d2","type":"function","name":"store search result type","func":"context.global.searchResultType = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":144,"z":"d5b78d81.2a487","wires":[[]]},{"id":"a53aa38f.5ac56","type":"function","name":"get result type","func":"if(context.global.searchResultType){\n    msg.payload.searchResultType = context.global.searchResultType;\n} else {\n    msg.payload.searchResultType = 'res';\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":321,"z":"d5b78d81.2a487","wires":[["ee8acc53.11753"]]},{"id":"54826c2f.ab7d94","type":"delay","name":"Random delay 1-3s","pauseType":"random","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"3","randomUnits":"seconds","drop":false,"x":848,"y":334,"z":"a3f2c538.5c0d38","wires":[["f0d6cc43.0f293"]]},{"id":"18bdc10.fe7423f","type":"http in","name":"POST /news","url":"/news","method":"post","swaggerDoc":"","x":188,"y":273,"z":"a3f2c538.5c0d38","wires":[["c2fa7f96.3d058"]]},{"id":"c2fa7f96.3d058","type":"file in","name":"","filename":"data/result/success.json","format":"utf8","x":396,"y":335,"z":"a3f2c538.5c0d38","wires":[["35a9c648.ca563a"]]},{"id":"23d830a9.dc27d","type":"http in","name":"PUT /news/1","url":"/news/1","method":"put","swaggerDoc":"","x":187,"y":392,"z":"a3f2c538.5c0d38","wires":[["c2fa7f96.3d058"]]},{"id":"ac744d4a.538bb","type":"http in","name":"DELETE /news/1","url":"/news/1","method":"delete","swaggerDoc":"","x":95,"y":478,"z":"a3f2c538.5c0d38","wires":[["dbb46ecd.244b9"]]},{"id":"dbb46ecd.244b9","type":"file in","name":"","filename":"data/result/error.json","format":"utf8","x":386,"y":478,"z":"a3f2c538.5c0d38","wires":[["35a9c648.ca563a"]]}]