node_red_stubs/flows.json
[{"type":"tab","id":"ac8049a0.537fb8","label":"Customer"},{"type":"tab","id":"c189a33b.3e766","label":"Index"},{"type":"tab","id":"aa4d88af.cb70e8","label":"Prepaid"},{"id":"8da98268.72568","type":"http in","name":"","url":"/rest/customer-management/user","method":"get","swaggerDoc":"","x":192,"y":56,"z":"ac8049a0.537fb8","wires":[["444060e4.bbbfa","240a4cc3.dbf5b4"]]},{"id":"cfe81e91.3017e","type":"function","name":"Add JWT header","func":"//msg.headers['X-Application-Authorization']= msg.payload.toString();\n\ncontext.global.xheader = {\n 'name'  : 'X-Application-Authorization',\n 'value' : msg.payload.toString()};\nreturn msg;","outputs":1,"noerr":0,"x":741,"y":20,"z":"ac8049a0.537fb8","wires":[["bdb569c9.424a98"]]},{"id":"444060e4.bbbfa","type":"file in","name":"CustomerState.jwt","filename":"./stubs/customer/customerState.jwt","format":"utf8","x":509,"y":20,"z":"ac8049a0.537fb8","wires":[["cfe81e91.3017e"]]},{"id":"bdb569c9.424a98","type":"change","name":"Delete payload","rules":[{"t":"delete","p":"payload"}],"x":974,"y":20,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"279caa19.d86356","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1519.5,"y":44,"z":"ac8049a0.537fb8","wires":[]},{"id":"ed6c3829.1293c8","type":"function","name":"combine","func":"var headers = msg.headers;\n\nif(headers) {\n\tcontext.global.headers = headers;\n} else {\n\tmsg.headers = context.global.headers;\n}\n//msg.headers[context.global.xheader.name] = context.global.xheader.value;\nreturn msg;","outputs":1,"noerr":0,"x":1184,"y":150,"z":"ac8049a0.537fb8","wires":[["c3721cd.f3c8de"]]},{"id":"c3721cd.f3c8de","type":"switch","name":"sendToHttp?","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1333,"y":85,"z":"ac8049a0.537fb8","wires":[["279caa19.d86356","c7cb84b6.383478"]]},{"id":"240a4cc3.dbf5b4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":482,"y":96,"z":"ac8049a0.537fb8","wires":[["a7f3a0e6.580c6"]]},{"id":"cbfec739.340138","type":"switch","name":"Choose customer mock","property":"payload.userType","rules":[{"t":"eq","v":"FLS-11"},{"t":"eq","v":"MCS-11"},{"t":"eq","v":"FLS-MCS-11"},{"t":"eq","v":"FLS-31"},{"t":"eq","v":"MCS-31"},{"t":"eq","v":"FLS-MCS-32"},{"t":"eq","v":"empty"},{"t":"eq","v":"Prepaid"}],"checkall":"false","outputs":8,"x":740,"y":235,"z":"ac8049a0.537fb8","wires":[["bc2078a4.43df88"],["9315d10a.6cea3"],["8e828dcc.717d7"],["335a45f8.cca5ba"],["9041641d.6fbe98"],["b5db2746.4a24d8"],["5404b4ff.abfb4c"],["c32d2bd1.fbfeb8"]]},{"id":"bc2078a4.43df88","type":"http request","name":"FLS-11","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/FLS-11","x":993,"y":152,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"67e9bc9a.981644","type":"http in","name":"FLS-11","url":"/ESRVD/gateway/customer/FLS-11","method":"get","x":59,"y":237,"z":"ac8049a0.537fb8","wires":[["32bd3f37.cd42c"]]},{"id":"32bd3f37.cd42c","type":"file in","name":"FLS-11.json","filename":"./stubs/customer/FLS-11.json","format":"utf8","x":201,"y":238,"z":"ac8049a0.537fb8","wires":[["c19647f3.3e69b8"]]},{"id":"c19647f3.3e69b8","type":"json","name":"","x":343,"y":239,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"9315d10a.6cea3","type":"http request","name":"MCS-11","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/MCS-11","x":991,"y":185,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"8e828dcc.717d7","type":"http request","name":"FLS-MCS-11","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/FLS-MCS-11","x":1005,"y":219,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"36445e97.c9bba2","type":"http in","name":"MCS-11","url":"/ESRVD/gateway/customer/MCS-11","method":"get","x":56,"y":277,"z":"ac8049a0.537fb8","wires":[["93800bec.6c7ff8"]]},{"id":"93800bec.6c7ff8","type":"file in","name":"MCS-11.json","filename":"./stubs/customer/MCS-11.json","format":"utf8","x":205,"y":278,"z":"ac8049a0.537fb8","wires":[["72a1d928.8d5e28"]]},{"id":"72a1d928.8d5e28","type":"json","name":"","x":343,"y":278,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"32777008.cd889","type":"http in","name":"FLS-MCS-11","url":"/ESRVD/gateway/customer/FLS-MCS-11","method":"get","x":71,"y":317,"z":"ac8049a0.537fb8","wires":[["31b1c919.ce4e36"]]},{"id":"31b1c919.ce4e36","type":"file in","name":"FLS-MCS-11.json","filename":"./stubs/customer/FLS-MCS-11.json","format":"utf8","x":243,"y":318,"z":"ac8049a0.537fb8","wires":[["f923ca73.06dc38"]]},{"id":"f923ca73.06dc38","type":"json","name":"","x":397,"y":318,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"34dc2093.cb23e","type":"inject","name":"FLS-11","topic":"","payload":"FLS-11","payloadType":"string","repeat":"","crontab":"","once":false,"x":81,"y":521,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"42f64996.bd09b8","type":"function","name":"store customer mock type","func":"context.global.userType = msg.payload\nreturn msg;","outputs":1,"x":383,"y":617,"z":"ac8049a0.537fb8","wires":[[]]},{"id":"a7f3a0e6.580c6","type":"function","name":"getMockedUserType","func":"if(context.global.userType) {\n\tmsg.payload.userType = context.global.userType;\n} else {\n\tmsg.payload.userType = 'Prepaid';\n}\nreturn msg;","outputs":1,"noerr":0,"x":659,"y":97,"z":"ac8049a0.537fb8","wires":[["cbfec739.340138"]]},{"id":"1abe87d8.e54178","type":"inject","name":"MCS-11","topic":"","payload":"MCS-11","payloadType":"string","repeat":"","crontab":"","once":false,"x":81,"y":559,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"2d2925b.fd2d6da","type":"inject","name":"FLS-MCS-11","topic":"","payload":"FLS-MCS-11","payloadType":"string","repeat":"","crontab":"","once":false,"x":96,"y":600,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"6a14f8d9.95eb08","type":"http in","name":"FLS-31","url":"/ESRVD/gateway/customer/FLS-31","method":"get","x":57,"y":354,"z":"ac8049a0.537fb8","wires":[["f19c9f9a.0e636"]]},{"id":"f19c9f9a.0e636","type":"file in","name":"FLS-31.json","filename":"./stubs/customer/FLS-31.json","format":"utf8","x":199,"y":355,"z":"ac8049a0.537fb8","wires":[["edafa28a.12506"]]},{"id":"edafa28a.12506","type":"json","name":"","x":341,"y":356,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"32710222.cd8efe","type":"http in","name":"MCS-31","url":"/ESRVD/gateway/customer/MCS-31","method":"get","x":58,"y":390,"z":"ac8049a0.537fb8","wires":[["b1115cd1.4eeea"]]},{"id":"b1115cd1.4eeea","type":"file in","name":"MCS-31.json","filename":"./stubs/customer/MCS-31.json","format":"utf8","x":200,"y":391,"z":"ac8049a0.537fb8","wires":[["dc81a2ed.237e6"]]},{"id":"dc81a2ed.237e6","type":"json","name":"","x":342,"y":392,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"335a45f8.cca5ba","type":"http request","name":"FLS-31","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/FLS-31","x":988,"y":252,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"9041641d.6fbe98","type":"http request","name":"MCS-31","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/MCS-31","x":988,"y":285,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"bdf2875d.420d78","type":"inject","name":"FLS-31","topic":"","payload":"FLS-31","payloadType":"string","repeat":"","crontab":"","once":false,"x":81,"y":635,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"3eea0d9e.c115f2","type":"inject","name":"MCS-31","topic":"","payload":"MCS-31","payloadType":"string","repeat":"","crontab":"","once":false,"x":81,"y":672,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"c921d8fd.36de28","type":"http in","name":"","url":"/rest/customer-management/customer-group-fls/*","method":"get","x":205,"y":783,"z":"ac8049a0.537fb8","wires":[["915d5c21.6ea2a"]]},{"id":"915d5c21.6ea2a","type":"file in","name":"customerGroup-FLS","filename":"./stubs/customerGroup-FLS.json","format":"utf8","x":525.5,"y":780,"z":"ac8049a0.537fb8","wires":[["1b4bd3f0.e4b42c"]]},{"id":"1b4bd3f0.e4b42c","type":"json","name":"","x":689.5,"y":780,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"64382168.9bc7e","type":"http response","name":"","x":1322,"y":762,"z":"ac8049a0.537fb8","wires":[]},{"id":"b70da7a0.48f258","type":"http in","name":"FLS-MCS-32","url":"/ESRVD/gateway/customer/FLS-MCS-32","method":"get","x":71,"y":427,"z":"ac8049a0.537fb8","wires":[["1b501ef3.e4afe1"]]},{"id":"1b501ef3.e4afe1","type":"file in","name":"FLS-MCS-32.json","filename":"./stubs/customer/FLS-MCS-32.json","format":"utf8","x":238.5,"y":427,"z":"ac8049a0.537fb8","wires":[["bc5ac03a.43a54"]]},{"id":"bc5ac03a.43a54","type":"json","name":"","x":394.5,"y":427,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"b5db2746.4a24d8","type":"http request","name":"FLS-MCS-32","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/FLS-MCS-32","x":1004,"y":319,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"be8dc922.417238","type":"inject","name":"FLS-MCS-32","topic":"","payload":"FLS-MCS-32","payloadType":"string","repeat":"","crontab":"","once":false,"x":94,"y":709,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"86da24d7.7925d8","type":"http in","name":"","url":"/rest/zuul","method":"get","x":75,"y":44,"z":"c189a33b.3e766","wires":[["35d1eb84.ca2e14"]]},{"id":"c4906843.3b6f98","type":"file in","name":"Index.json","filename":"./stubs/Index.json","format":"utf8","x":338,"y":42,"z":"c189a33b.3e766","wires":[["90298843.6fd678"]]},{"id":"90298843.6fd678","type":"json","name":"toJSON","x":668,"y":155,"z":"c189a33b.3e766","wires":[["9afd5716.6502a8"]]},{"id":"3557ce4b.caa832","type":"http response","name":"","x":1000.5,"y":118,"z":"c189a33b.3e766","wires":[]},{"id":"c7cb84b6.383478","type":"function","name":"Add X-Application-User-Id & X-Application-Encryption-Key","func":"var key = 'aa1234567890';\nvar userId = '12b03226a6d8be9c6e8cd5e55dc6c7920caaa39df14aab92d5e3ea9340d1c8a4d3d0b8e4314f1f6ef131ba4bf1ceb9186ab87c801af0d5c95b1befb8cedae2b9';\nif(msg.headers){\n\tmsg.headers['X-Application-User-Id'] = userId;\n\tmsg.headers['X-Application-Encryption-Key'] = key;\n}\nmsg.headers = {\n\t'X-Application-User-Id': userId,\n\t'X-Application-Encryption-Key': key\n};\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":638,"z":"ac8049a0.537fb8","wires":[["64382168.9bc7e"]]},{"id":"9afd5716.6502a8","type":"function","name":"Add X-Application-User-Id & X-Application-Encryption-Key","func":"var key = 'aa1234567890';\nvar userId = '12b03226a6d8be9c6e8cd5e55dc6c7920caaa39df14aab92d5e3ea9340d1c8a4d3d0b8e4314f1f6ef131ba4bf1ceb9186ab87c801af0d5c95b1befb8cedae2b9';\nif(msg.headers){\n\tmsg.headers['X-Application-User-Id'] = userId;\n\tmsg.headers['X-Application-Encryption-Key'] = key;\n}\nmsg.headers = {\n\t'X-Application-User-Id': userId,\n\t'X-Application-Encryption-Key': key\n};\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":41,"z":"c189a33b.3e766","wires":[["3557ce4b.caa832"]]},{"id":"1784be81.5c8d41","type":"http in","name":"","url":"/rest/customer-management/customer/608926712/contactinfo/emails","method":"get","x":267,"y":917,"z":"ac8049a0.537fb8","wires":[["3b92cbc2.c46d34"]]},{"id":"5354e0c3.452f3","type":"file in","name":"LoyaltyContactEmail","filename":"./stubs/LoyaltyContactEmail.json","format":"utf8","x":562,"y":812,"z":"ac8049a0.537fb8","wires":[["62c0fc7a.02e3e4"]]},{"id":"62c0fc7a.02e3e4","type":"json","name":"","x":757,"y":809,"z":"ac8049a0.537fb8","wires":[["cc6056ee.c9302"]]},{"id":"53aac994.87ab9","type":"http in","name":"","url":"/rest/customer-management/customer/608926712/contactinfo/email","method":"post","x":275,"y":990,"z":"ac8049a0.537fb8","wires":[["24c71013.1ec8a8"]]},{"id":"24c71013.1ec8a8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":612,"y":991,"z":"ac8049a0.537fb8","wires":[["b3b697a.672ef68"]]},{"id":"b3b697a.672ef68","type":"file in","name":"LoyaltyContactEmail.json","filename":"./stubs/LoyaltyContactEmail.json","format":"utf8","x":763,"y":927,"z":"ac8049a0.537fb8","wires":[["1b935fa5.e46ca"]]},{"id":"70925b77.e023cc","type":"http in","name":"","url":"/rest/customer-management/customer/608926712/contactinfo","method":"get","x":253,"y":1034,"z":"ac8049a0.537fb8","wires":[["93a28352.e19d7"]]},{"id":"93a28352.e19d7","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":566,"y":1035,"z":"ac8049a0.537fb8","wires":[["c4cd4422.8a4ff"]]},{"id":"c4cd4422.8a4ff","type":"file in","name":"LoyaltyContact.json","filename":"./stubs/LoyaltyContact.json","format":"utf8","x":733,"y":1034,"z":"ac8049a0.537fb8","wires":[["62c0fc7a.02e3e4"]]},{"id":"cc6056ee.c9302","type":"function","name":"Return Error","func":"//msg.statusCode = 500;\nreturn msg;","outputs":1,"x":920,"y":804,"z":"ac8049a0.537fb8","wires":[["64382168.9bc7e"]]},{"id":"2041e0a2.dfbe2","type":"file in","name":"UserContactEmail","filename":"./stubs/UserContactEmail.json","format":"utf8","x":557,"y":850,"z":"ac8049a0.537fb8","wires":[["62c0fc7a.02e3e4"]]},{"id":"3b92cbc2.c46d34","type":"switch","name":"check context","property":"payload.context","rules":[{"t":"eq","v":"loyalty"},{"t":"eq","v":"user"}],"checkall":"false","outputs":2,"x":359,"y":843,"z":"ac8049a0.537fb8","wires":[["5354e0c3.452f3"],["2041e0a2.dfbe2"]]},{"id":"f1dca018.f9b48","type":"file in","name":"Translations.json","filename":"./stubs/Translations.json","format":"utf8","x":846.5,"y":217,"z":"c189a33b.3e766","wires":[["90298843.6fd678"]]},{"id":"afce338e.a721f8","type":"http in","name":"","url":"/myproximus_root/.rest/nodes/v1/publicRestData/webapps/myProximus/myCreditAndUsage/messages","method":"get","swaggerDoc":"","x":355,"y":409,"z":"c189a33b.3e766","wires":[["f1dca018.f9b48","f2a5fdfe.011178"]]},{"id":"f2a5fdfe.011178","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1049,"y":292,"z":"c189a33b.3e766","wires":[]},{"id":"f882a8a7.49f6b","type":"http in","name":"","url":"/rest/customer-management/customer/608926712/contactinfo","method":"post","x":255.1999969482422,"y":1113.5999755859375,"z":"ac8049a0.537fb8","wires":[["1a4528f5.9ad66f"]]},{"id":"1a4528f5.9ad66f","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":597.2000122070312,"y":1110.5999755859375,"z":"ac8049a0.537fb8","wires":[["64382168.9bc7e"]]},{"id":"d2ddb73f.2d2248","type":"http in","name":"","url":"/myproximus_root/.rest/nodes/v1/publicRestData/webapps/myProximus/common/breadcrumb","method":"get","swaggerDoc":"","x":346,"y":555,"z":"c189a33b.3e766","wires":[["f2a5fdfe.011178","1f24f4a5.e0db0b"]]},{"id":"1f24f4a5.e0db0b","type":"file in","name":"MycreditBreadcrumbTranslations.json","filename":"./stubs/MycreditBreadcrumbTranslations.json","format":"utf8","x":922,"y":528,"z":"c189a33b.3e766","wires":[["90298843.6fd678"]]},{"id":"1b935fa5.e46ca","type":"function","name":"Return Error","func":"msg.statusCode = 403;\nreturn msg;","outputs":1,"noerr":0,"x":973,"y":877,"z":"ac8049a0.537fb8","wires":[["64382168.9bc7e"]]},{"id":"827212fe.7d8df","type":"inject","name":"empty","topic":"","payload":"empty","payloadType":"string","repeat":"","crontab":"","once":false,"x":78,"y":480,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"5404b4ff.abfb4c","type":"http request","name":"empty","method":"GET","ret":"txt","url":"http://localhost:1880/ESRVD/gateway/customer/empty","x":986,"y":358,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"559bb74d.aa6448","type":"http in","name":"empty","url":"/ESRVD/gateway/customer/empty","method":"get","swaggerDoc":"","x":61,"y":195,"z":"ac8049a0.537fb8","wires":[["41b7e4ae.be481c"]]},{"id":"41b7e4ae.be481c","type":"file in","name":"empty.json","filename":"./stubs/customer/empty.json","format":"utf8","x":203,"y":196,"z":"ac8049a0.537fb8","wires":[["5e2f12c4.a1d0ec"]]},{"id":"5e2f12c4.a1d0ec","type":"json","name":"","x":345,"y":197,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"35d1eb84.ca2e14","type":"function","name":"giveInvalidResponseFifthRequest","func":"if(context.indexCounter){\n    context.global.indexCounter++;\n}else{\n    context.global.indexCounter = 0;\n}\n\nmsg.indexCounter = context.global.indexCounter;\n\nif(context.global.indexCounter === 5){\n    delete context.global.indexCounter;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":157.5,"y":128,"z":"c189a33b.3e766","wires":[["823c3eaf.7dc3c"]]},{"id":"823c3eaf.7dc3c","type":"switch","name":"","property":"indexCounter","rules":[{"t":"lt","v":"5"},{"t":"eq","v":"5"}],"checkall":"true","outputs":2,"x":391,"y":128,"z":"c189a33b.3e766","wires":[["c4906843.3b6f98"],["4ccf6bbf.b33094"]]},{"id":"4ccf6bbf.b33094","type":"file in","name":"Index.html","filename":"./stubs/Index.html","format":"utf8","x":381,"y":279,"z":"c189a33b.3e766","wires":[["9afd5716.6502a8"]]},{"id":"69341842.9b0348","type":"inject","name":"Prepaid","topic":"","payload":"Prepaid","payloadType":"string","repeat":"","crontab":"","once":false,"x":79.88333129882812,"y":744.63330078125,"z":"ac8049a0.537fb8","wires":[["42f64996.bd09b8"]]},{"id":"824c7428.b46cc8","type":"http in","name":"Prepaid","url":"/ESRVD/gateway/customer/Prepaid","method":"get","swaggerDoc":"","x":57.883331298828125,"y":159.88333129882812,"z":"ac8049a0.537fb8","wires":[["89b4c9.1b485b38"]]},{"id":"89b4c9.1b485b38","type":"file in","name":"Prepaid.json","filename":"./stubs/customer/Prepaid.json","format":"utf8","x":199.88333129882812,"y":160.88333129882812,"z":"ac8049a0.537fb8","wires":[["e5bc985e.1e9eb8"]]},{"id":"e5bc985e.1e9eb8","type":"json","name":"","x":341.8833312988281,"y":161.88333129882812,"z":"ac8049a0.537fb8","wires":[["c7cb84b6.383478"]]},{"id":"c32d2bd1.fbfeb8","type":"http request","name":"Prepaid","method":"GET","url":"http://localhost:1880/ESRVD/gateway/customer/Prepaid","x":974.4500122070312,"y":391.8833312988281,"z":"ac8049a0.537fb8","wires":[["ed6c3829.1293c8"]]},{"id":"eadc711b.7f165","type":"http in","name":"","url":"/rest/usage/0478140422","method":"get","swaggerDoc":"","x":133.5,"y":66.88333129882812,"z":"aa4d88af.cb70e8","wires":[["7e76d34b.31deb4"]]},{"id":"7e76d34b.31deb4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":347.0000305175781,"y":68.88333129882812,"z":"aa4d88af.cb70e8","wires":[["8a9cd85e.88f5f8"]]},{"id":"8a9cd85e.88f5f8","type":"file in","name":"PrepaidUsage.json","filename":"./stubs/PrepaidUsage.json","format":"utf8","x":533.4999389648438,"y":71.88333129882812,"z":"aa4d88af.cb70e8","wires":[["8562a811.189118"]]},{"id":"8562a811.189118","type":"json","name":"toJSON","x":741.5000305175781,"y":231.88333129882812,"z":"aa4d88af.cb70e8","wires":[["8bf3617c.15ac5"]]},{"id":"8bf3617c.15ac5","type":"function","name":"Add Required Jwts","func":"//msg.statusCode = 400;\nvar key = 'aa1234567890';\nvar userId = '12b03226a6d8be9c6e8cd5e55dc6c7920caaa39df14aab92d5e3ea9340d1c8a4d3d0b8e4314f1f6ef131ba4bf1ceb9186ab87c801af0d5c95b1befb8cedae2b9';\nif(msg.headers){\n\tmsg.headers['X-Application-User-Id'] = userId;\n\tmsg.headers['X-Application-Encryption-Key'] = key;\n}\nmsg.headers = {\n\t'X-Application-User-Id': userId,\n\t'X-Application-Encryption-Key': key,\n\t'x-application-authorization-awarddetail': '12m334',\n\t'x-application-authorization-vodorder-eligibility': '321'\n};\nreturn msg;","outputs":1,"noerr":0,"x":938.0000305175781,"y":236.88333129882812,"z":"aa4d88af.cb70e8","wires":[["7ff93405.70b1ac"]]},{"id":"7ff93405.70b1ac","type":"http response","name":"","x":895.5,"y":164.88333129882812,"z":"aa4d88af.cb70e8","wires":[]},{"id":"ca591227.35a6f","type":"http in","name":"","url":"/myproximus_root/.rest/nodes/v1/publicRestData/webapps/myProximus/myCreditAndUsage/overview/bundles","method":"get","swaggerDoc":"","x":461,"y":458,"z":"c189a33b.3e766","wires":[["f2a5fdfe.011178","81a3ae24.7e5c5"]]},{"id":"81a3ae24.7e5c5","type":"file in","name":"BundleTranslations.json","filename":"./stubs/BundleTranslations.json","format":"utf8","x":628,"y":346,"z":"c189a33b.3e766","wires":[["90298843.6fd678"]]},{"id":"cebe87d5.314178","type":"http in","name":"","url":"/rest/history/0478140422","method":"get","swaggerDoc":"","x":131,"y":370,"z":"aa4d88af.cb70e8","wires":[["da878d76.25787"]]},{"id":"da878d76.25787","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348.5000305175781,"y":369,"z":"aa4d88af.cb70e8","wires":[["8e2b205.f71d4e"]]},{"id":"8e2b205.f71d4e","type":"file in","name":"PrepaidHistory.json","filename":"./stubs/PrepaidHistory.json","format":"utf8","x":542.9999389648438,"y":366,"z":"aa4d88af.cb70e8","wires":[["8562a811.189118"]]},{"id":"9a3ee5ac.65c118","type":"http in","name":"","url":"/myproximus_root/.rest/nodes/v1/publicRestData/webapps/myProximus/myCreditAndUsage/overview/tariffPlan","method":"get","swaggerDoc":"","x":410,"y":629,"z":"c189a33b.3e766","wires":[["660cfffe.99f3"]]},{"id":"660cfffe.99f3","type":"file in","name":"TariffPlanTranslations.json","filename":"./stubs/TariffPlanTranslations.json","format":"utf8","x":943,"y":596,"z":"c189a33b.3e766","wires":[["90298843.6fd678"]]},{"id":"2956d217.455506","type":"http in","name":"","url":"/rest/usage/0032471141857","method":"get","swaggerDoc":"","x":135.88333129882812,"y":25,"z":"aa4d88af.cb70e8","wires":[["7e76d34b.31deb4"]]}]