node_red_stubs/flows.json
[{"type":"tab","id":"a3f2c538.5c0d38","label":"Examples"},{"id":"b570aaa2.4a8f58","type":"function","name":"log requests","func":"if(context.global.debugMode){\n    var m = msg.req.method;\n    var u = msg.req.originalUrl;\n    var debugMessage = 'DEBUG - Method: ' + m + ' URL: ' + u;\n    console.log(debugMessage);\n}\nreturn msg;","outputs":1,"noerr":0,"x":943,"y":392,"z":"a3f2c538.5c0d38","wires":[["35a9c648.ca563a"]]},{"id":"c33a8bb2.3cc578","type":"http in","name":"/news","url":"/news","method":"get","swaggerDoc":"","x":88,"y":90,"z":"a3f2c538.5c0d38","wires":[["86e046c1.791fb8"]]},{"id":"f0d6cc43.0f293","type":"http response","name":"http response","x":1288,"y":392,"z":"a3f2c538.5c0d38","wires":[]},{"id":"35a9c648.ca563a","type":"json","name":"","x":1123,"y":392,"z":"a3f2c538.5c0d38","wires":[["f0d6cc43.0f293"]]},{"id":"86e046c1.791fb8","type":"file in","name":"","filename":"data/news.json","format":"utf8","x":273,"y":90,"z":"a3f2c538.5c0d38","wires":[["b570aaa2.4a8f58"]]},{"id":"43030503.bcfcfc","type":"http in","name":"/news/1","url":"/news/1","method":"get","swaggerDoc":"","x":90,"y":143,"z":"a3f2c538.5c0d38","wires":[["c265e625.3d9a18"]]},{"id":"c265e625.3d9a18","type":"file in","name":"","filename":"data/news/newsdetail.json","format":"utf8","x":306,"y":143,"z":"a3f2c538.5c0d38","wires":[["b570aaa2.4a8f58"]]},{"id":"b6026d83.49fd9","type":"inject","name":"bizz search result","topic":"","payload":"bizz","payloadType":"string","repeat":"","crontab":"","once":false,"x":120,"y":382,"z":"a3f2c538.5c0d38","wires":[["bcd3bf95.432c4"]]},{"id":"fabc02f5.0544","type":"inject","name":"res search result","topic":"","payload":"res","payloadType":"string","repeat":"","crontab":"","once":false,"x":117,"y":433,"z":"a3f2c538.5c0d38","wires":[["bcd3bf95.432c4"]]},{"id":"56da4444.a925bc","type":"switch","name":"choose search result","property":"payload.searchResultType","rules":[{"t":"eq","v":"bizz"},{"t":"eq","v":"res"}],"checkall":"false","outputs":2,"x":498,"y":522,"z":"a3f2c538.5c0d38","wires":[["32a7418f.cd58be"],["85a77a29.7a5888"]]},{"id":"32a7418f.cd58be","type":"file in","name":"result_bizz.json","filename":"data/search/result_bizz.json","format":"utf8","x":702,"y":474,"z":"a3f2c538.5c0d38","wires":[["b570aaa2.4a8f58"]]},{"id":"85a77a29.7a5888","type":"file in","name":"result_res.json","filename":"data/search/result_res.json","format":"utf8","x":704,"y":566,"z":"a3f2c538.5c0d38","wires":[["b570aaa2.4a8f58"]]},{"id":"25b14fcc.da4eb","type":"http in","name":"/search/result","url":"/search/result","method":"get","swaggerDoc":"","x":96,"y":522,"z":"a3f2c538.5c0d38","wires":[["3962f232.c69d0e"]]},{"id":"bcd3bf95.432c4","type":"function","name":"store search result type","func":"context.global.searchResultType = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":412,"z":"a3f2c538.5c0d38","wires":[[]]},{"id":"3962f232.c69d0e","type":"function","name":"get result type","func":"if(context.global.searchResultType){\n    msg.payload.searchResultType = context.global.searchResultType;\n} else {\n    msg.payload.searchResultType = 'res';\n}\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":522,"z":"a3f2c538.5c0d38","wires":[["56da4444.a925bc"]]},{"id":"b178c85f.4e8738","type":"inject","name":"enable debug logs","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":974,"y":88,"z":"a3f2c538.5c0d38","wires":[["db110d8e.24eef"]]},{"id":"21592796.dea6d8","type":"inject","name":"disable debug logs","topic":"","payload":"res","payloadType":"string","repeat":"","crontab":"","once":false,"x":975,"y":139,"z":"a3f2c538.5c0d38","wires":[["db110d8e.24eef"]]},{"id":"db110d8e.24eef","type":"function","name":"set debugging state","func":"context.global.debugMode = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1195,"y":118,"z":"a3f2c538.5c0d38","wires":[[]]}]